<h1>Add post</h1>
<%= form_for :post, url: posts_path do |f| %>
  <%if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  <% end %>

  <p>
    <%= f.label :title %> <br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %> <br>
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>